@import "../partials/fonts";

body {
    text-align: center;
    header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;
        background-color: royalblue;
        padding: .5em;
        border-bottom: ridge darkblue;
        
        h1 {
            color: whitesmoke;
            text-shadow: black 2px 2px 3px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
    
    main {
        position: relative;
        top: 8em;
        margin-bottom: 10em;
        h2, h3 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        section {
            padding: 1em;
            margin: auto;
            width: fit-content;
            
        }
        ol, ul {
                
            li {
                padding: .5em;
                font-weight: bold;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                text-shadow: lightblue 1px 1px 1px;                    
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: green;

                }
                a:hover {
                    color: fuchsia;
                }
            }
        }
        ul {
            list-style: none;
            padding: 0px;
        }
    
    }
    
    footer {
        padding: 1em;
        background-color: crimson;
        color: whitesmoke;
        font-weight: bold;
        text-shadow: black 2px 2px 3px;
        border: ridge darkred;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

#event1, label, button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.goBack {
    color: rgb(235, 233, 233);
    display: block;
    padding: .3em;
    width: fit-content;
    margin: 10px auto 0px auto;
    background-color: rgb(50, 173, 250);
    border-radius: 7px;
    border: double 7px black;
    text-decoration: none;
    box-shadow: 0px 0px 3px black;
}
.goBack:hover {
    color: whitesmoke;
    border-radius: 9px;
    background-color: rgb(66, 162, 223);
    box-shadow: 0px 0px 3px black;
}

.hints {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1em;
    font-weight: bold;
    color: blue;
}

#buttonBoard {
    display: flex;
    .buttonNode {
        display: flex;
        flex-direction: column;
        padding: 1em;
    }
}

#clickCounter {
    font-family: cursive;
}

#displayOutput {   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.section__header {
    font-family: Sansita;
}



.content__p {
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 1.5em;
}

.emphasis {
    font-family: 'Roboto Mono', sans-serif;
    color: green; 
    text-shadow: 1px 1px 0px springgreen;
}

.emphasis:hover { 
    cursor: cell; 
    text-decoration-line: underline;
    color: purple;
}

.overview, .content__section {
    text-align: left; 
    width: 90%;
    background-color: rgba(79, 158, 207, 0.3);
    border-radius: 10px;   
    margin: 1em auto;  
}

.sub__section {
    width: fit-content;
    background-color: rgba(50, 173, 250, .3);
    padding: 1em 0em 2em;
    border: #111417 dashed 2px;
    border-radius: 10px;
    .section__sub__header {
        font-family: Sansita;
        margin: 0 5em 1em 1em;
        text-shadow: 0px -1px 1px  #111417;
        text-decoration-line: underline;
    }

}

.table__of__contents {
    margin: auto;
    width: 75%;
    text-align: right;
    
    
    li{
        padding: 1em;   
        a {         
            color: green;
            font-family: 'Roboto Condensed', sans-serif;
        }
        a:hover { color: purple;}
    }
    
}


.section__divider {
    width: 80%;
    border: #111417 dashed 3px;
    border-radius: 5px;
    background-color: slateblue;
    margin: 3.5em auto;
}

.code__block {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    padding: 1em;
    color: lightgray;
    background: #111417;
    border-radius: 10px;
    .blue__code {
        color:lightskyblue;
    }
    .lb__code {
        color: lightblue;
    }
    .orange__code {
        color: orange;
    }
    .red__code {
        color: lightcoral;
    }
    .green__code {
        color: lightgreen;
    }
    .yellow__code {
        color: lightgoldenrodyellow;
    }
    .pink__code {
        color: pink;
    }
}
.i1{ text-indent: 1.5em; }
.i2 { text-indent: 3rem; }
.i3 { text-indent: 4.5rem; }
.i4 { text-indent: 6rem; }

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.slidingHeader {
    visibility: collapse;
}

.console__output {
    background-color: aliceblue;
    border: 2px ridge black;
    border-radius: 10px;
    padding: 2em;
    margin: auto;
    margin-bottom: 1em;
    width: 80%;
}

.dual__input {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    input {
        border-radius: 5px; 
        margin-right: 1em;
    }
}

.fancy {
    margin: 1em auto;
    font-family:cursive;
    padding: 1em;
    width: 60%;
    border-radius: 10px;
    border: 2px dotted darkorange;
    background-color: blanchedalmond;
    color: chocolate;
    text-shadow: 1px 1px 1px snow;
}

@import "../partials/forms";
@import "../partials/week8Notes";